# configuracion de la db
POSTGRES_USER=mentormatch_user
POSTGRES_PASSWORD=mentormatch_pass
POSTGRES_DB=mentormatch
POSTGRES_PORT=5432

# OJO: Usa 'db' si levantas el backend con Docker.
# Si corres uvicorn localmente sin usar Docker, cambia POSTGRES_HOST a '127.0.0.1'
# y usa tambien la version local de DATABASE_URL (ver abajo).
POSTGRES_HOST=db
# Docker Compose (backend dentro del contenedor):
DATABASE_URL=postgresql+asyncpg://mentormatch_user:mentormatch_pass@db:5432/mentormatch
# Local sin Docker (backend en tu maquina):
# DATABASE_URL=postgresql+asyncpg://mentormatch_user:mentormatch_pass@127.0.0.1:5432/mentormatch


# JWT
SECRET_KEY=una_clave_secreta_para_desarrollo_cambiar_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENVIRONMENT=development

# STRIPE
STRIPE_SECRET_KEY=sk_test_tu_clave_secreta
STRIPE_WEBHOOK_SECRET=whsec_tu_secreto_cli

# PRODUCCIÓN (Render / CORS)
# En desarrollo local no es necesario (localhost ya está permitido).
# En producción, aqui deberia ir la URL del frontend
FRONTEND_URL=